[include]
    path = ~/.gitconfig_user
[core]
    excludesfile = ~/.gitignore_global
    editor = vim
[diff]
    tool = mvimdiff
[difftool "mvimdiff"]
    cmd = mvim -f -d \"$LOCAL\" \"$REMOTE\"
[push]
    default = simple
[alias]
    glog = log --graph --decorate
    ls   = log --pretty=format:"%C(auto)%h\\ (%ad)\\ %Cblue<%an>%x09%Creset%s%C(auto)%d" --decorate --date=relative
    lsg  = log --pretty=format:"%C(auto)%h\\ (%ad)\\ %Cblue<%an>%x09%Creset%s%C(auto)%d" --decorate --date=relative --graph
    lsga = log --pretty=format:"%C(auto)%h\\ (%ad)\\ %Cblue<%an>%x09%Creset%s%C(auto)%d" --decorate --date=relative --graph --all
    incoming = "!git remote update -p; git log ..@{u}"
    outgoing = log @{u}..
    showtool = "!sh -c 'git --no-pager show --stat "$0"; git difftool "$0~1" "$0"'"
    #diffall = "!mvim -p $(git diff --name-only $*) -c \"tabdo Gdiff $*\" #"
